In [1]:
#1. Write a Python script to generate and print a dictionary that contains a number (between1 and n) in the form (x, x*x)
# * Sample Dictionary ( n = 5) :
# * Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

n=int(input("Input a number "))
d = dict()

for i in range(1,n+1):
    d[i]=i*i

print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [1]:
# 2.Write a Python program to combine two dictionary adding values for common keys
# * d1 = {'a': 100, 'b': 200, 'c':300}
# * d2 = {'a': 300, 'b': 200, 'd':400}
# * Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
a = {}

for i,j in d2.items():
    a[i] = j
for i,j in d1.items():
    if i in a:
        a[i]=a[i]+j
    else:
        a[i]=j
print(a)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [56]:
# 3. Write a Python program to print all unique values in a dictionary
# * Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
# * Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

l = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
a = []
for i in l: 
    for j in i.values():
        a.append(j)
print(set(a))

{'S005', 'S009', 'S007', 'S001', 'S002'}

In [64]:
# 4.Write a Python program to create and display all combinations of letters, selecting each letter from a different key in 
# a dictionary. * Sample data : {'1':['a','b'], '2':['c','d']}
# * Expected Output:  ac ad bc bd

d = {1:['a','b'],2:['c','d']}
for i in d[1]:
    for j in d[2]:
        print(i+j)

ac
ad
bc
bd

In [65]:
# 5. Write a Python program to create a dictionary from a string.
# * Note: Track the count of the letters from the string.
# * Sample string : 'w3resource'
# * Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

s = input('enter a string: ')
d = {}
for i in s:
    j = s.count(i)
    d.update({i:j})
print(d)

enter a string: w3resorce
{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'c': 1}

In [24]:
# 6. Write a Python program to count the values associated with key in a dictionary.
# * Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 
#   'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
# * Expected result: Count of how many dictionaries have success as True

l = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
a = 0
for i in l:
    if i['success']==1:
        a += 1
print(a, 'dictionries have success as True.')

2 dictionries have success as True.

In [ ]:
# 7. Write a Python program to convert a list into a nested dictionary of keys

l = [1,2,3,4]

In [40]:
# 8. Write a Python program to sort a list alphabetically in a dictionary.


dict ={'l1':['d','a','f'],'l2':['h','w','e'],'l3':['a','g','c'],}
 
for i, j in dict.items():
    a ={i:sorted(j)}
    print(a)

{'l1': ['a', 'd', 'f']}
{'l2': ['e', 'h', 'w']}
{'l3': ['a', 'c', 'g']}

In [85]:
# 9. Write a Python program to sort Counter by value.
# * Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
# * Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

d = {'Math':81, 'Physics':83, 'Chemistry':87}

s = sorted(d.items(), key=lambda a : a[1],reverse=True)
print(s)

[('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [89]:
# 10. Write a Python program to match key values in two dictionaries. Go to the editor
# * Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
# * Expected output: key1: 1 is present in both x and y

x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}

for i,j in x.items():
    for a,b in y.items():
        if {i:j} == {a:b}:
            print(i,j, 'is present in both x and y')

key1 1 is present in both x and y

In [91]:
# 11. Write a Python program to check a list is empty or not.

l = [1,2]
if len(l)==0:
    print('list is empty.')
else:
    print('list is not empty.')

list is not empty.

In [93]:
# 12. Write a Python program to remove duplicates from a list.

l = [1,3,5,6,24,2,3,1,3]
a = set(l)
print(list(a))

[1, 2, 3, 5, 6, 24]

In [121]:
# 13. Write a Python function that takes two lists and returns True if they have at least one common member

l1 = [1,2,3,4]
l2 = [5,6,1,3]

def func():
    for i in l1:
        for j in l2:
            if i == j:
                return 'true'
    return 'false'
func()

'true'

In [123]:
# 14. Write a Python program to get the difference between the two lists.

l1 = [10, 15, 20, 25, 30, 35, 40]
l2 = [25, 40, 35]
 
a = []
for i in l1:
    if i not in l2:
        a.append(i)
print(a)

[10, 15, 20, 30]

In [128]:
# 15. Write a Python program to find the second smallest number in a list.

l = [23,2,13,42,53,3]
l.sort()
print(l[1])

3

In [130]:
# 16. Write a Python program to find the second largest number in a list.

l = [23,2,13,42,53,3]
l.sort()
print(l[-2])

42

In [133]:
# 17. Write a Python program to get the frequency of the elements in a list.
l = [10,20,30,10,20,30,10,10,20]
d = {}
for i in l:
    j = l.count(i)
    d.update({i:j})
print(d)

{10: 4, 20: 3, 30: 2}

In [147]:
# 18. Write a Python program to convert a list of multiple integers into a single integer
# * Sample list: [11, 33, 50]
# * Expected Output: 113350

l = [11,33,50]

for i in l:
    print(i,end='')

113350

In [9]:
# 19. Write a Python program to compute the similarity between two lists.
# * Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green", "blue"]
# * Expected Output: Color1-Color2: ['white', 'orange', 'red']
#                    Color2-Color1: ['black', 'yellow']

l1 = ["red", "orange", "green", "blue", "white"]
l2 = ["black", "yellow", "green", "blue"]
s1 = set(l1).difference(set(l2))
print('color1-color2 : ',list(s1))
s2 = set(l2).difference(set(l1))
print('color2-color1 : ',list(s2))

color1-color2 :  ['orange', 'white', 'red']
color2-color1 :  ['yellow', 'black']

In [21]:
# 20. Write a Python program to check if all dictionaries in a list are empty or not.
#  * Sample list : [{},{},{}]
#  * Return value : True
#  * Sample list : [{1:2},{},{}]
#  * Return value : False

l1 = [{},{},{}]

def fun(i):
    for i in l1:
        if i == dict():
            return 'true'
        return 'false'
        
fun(l1)

'true'

In [25]:
# 21. Write a Python program to count the number of characters (character frequency) in a 
# string 
#  * Sample String : google.com'
#  * Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

s = 'google.com'
d = {}
for i in s:
    j = s.count(i)
    d.update({i:j})
print(d)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [29]:
# 22. Write a Python program to get a string from a given string where all occurrences of its 
# first char have been changed to '$' ,except the first char itself
#  * Sample String : 'restart'
#  * Expected Result : 'resta$t'

def char(s):
    c = s[0]
    s = s.replace(c,'$')
    p = c + s[1:]
    return p

char('restart')

'resta$t'

In [32]:
#23. Write a Python function that takes a list of words and returns the length of the longest one.

def length(s):
    l=0
    for i in lis:
        if len(i)>l:
            l=len(i)
            a=i
    
    return a,l 

lis=['function','is','a','block','of','organized']
length(lis)

('organized', 9)

In [5]:
#24. Write a Python program to count the occurrences of each word in a given sentence.

a='python is a high-level programming language. python is popular programming language.'
for i in a.split():
    print(i,'-',a.count(i))

python - 2
is - 2
a - 8
high-level - 1
programming - 2
language. - 2
python - 2
is - 2
popular - 1
programming - 2
language. - 2

In [6]:
#25. Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in 
# the first 4 characters.

def ucase(s):
    n = 0
    for i in s[:4]: 
        if i.upper() == i:
            n += 1
    if n >= 2:
        return s.upper()
    return s

print(ucase('Python'))
print(ucase('PyThon'))

Python
PYTHON

In [2]:
#26. Write a Python program to count and display the vowels of a given text

s="tanvi"
l=['a','e','i','o','u','A','E','I','O','U']
count=0
for i in s:
    if i in l:
        count += 1
print(count)

2

In [4]:
#27. Write a Python program to create a tuple with different data types.

t = ("string",True, False, 3.2, 1)
print(t)

('string', True, False, 3.2, 1)

In [5]:
#28. Write a Python program to add an item in a tuple

t = (1,2,3,4,5,6,7,8)
l = list(t) 
l.append(30)
t = tuple(l)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 30)

In [7]:
#29. Write a Python program to convert a tuple to a string.

def convert(t):
    str = ''
    for i in t:
        str += ''.join(i)
    return str
 
t = ('m','f','w','k','d')
str = convert(t)
print(str)

mfwkd

In [8]:
#30. Write a Python program to find the repeated items of a tuple

tup=(1,3,4,32,1,1,1,4)  
c=[]
for i in tup:
    if tup.count(i) > 1:
        c.append(i)
print(c)
a= set(c)
print(tuple(a))

[1, 4, 1, 1, 1, 4]
(1, 4)

In [9]:
#31. Write a Python program to find the length of a tuple.

t=(1,2,3,'t','u','p','l','e','tuple')
length=len(t)
print(length)

9

In [11]:
#32. Write a Python program to convert a tuple to a dictionary.

li=[('name','mitali'),('age',20)]
dic=dict(li)
print(dic)

{'name': 'mitali', 'age': 20}

In [18]:
#33. Write a Python program to replace last value of tuples in a list. 
# * Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
# * Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

li=[(10,20,30),(40,50,60),(70,80,90)]
l1 = []
for i in li:
    i= i[:-1]+(100,)
    l1.append(i)
print(l1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [10]:
@@@@@@@@@@@@@@@@@@# 34. Write a Python program to replace last value of tuples in a list. 
#  * Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
#  * Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

l = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
list(l)

[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [16]:
# 35. Write a Python program to sort a tuple by its float element.
#  * Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
#  * Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

l = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(l, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [26]:
# 36. Write a Python program to count the elements in a list until an element is a tuple.

num = [10,20,30,(10,20),40]
count = 0
for n in num:
    if type(n) == tuple:
        break
    count += 1
print(count)

3

In [50]:
# 37. Write a Python program to iteration over sets
print('using numbers')
n = set([0, 1, 2, 3, 4, 5])
for i in n:
    print(i, end=' ')

print('\nusing string')

s = set("w3resource")  
for val in s:
    print(val, end=' ')

using numbers
0 1 2 3 4 5
using string
3 e s r c w o u

In [32]:
# 38. Write a Python program to add member(s) in a set

animal = {"Lion","Cat"}
print(animal)
animal.add("Dog")
print("Add single element : ",animal)
animal.update(["Panda", "Tiger"])
print("Add multiple items : ",animal)

{'Lion', 'Cat'}
Add single element :  {'Lion', 'Cat', 'Dog'}
Add multiple items :  {'Dog', 'Lion', 'Cat', 'Ponda', 'Tiger'}

In [48]:
# 39. Write a Python program to remove item(s) from set

n = set([0, 1, 3, 4, 5])
print("Original set:",n)
n.pop()
print("After removing :",n)

Original set: {0, 1, 3, 4, 5}
After removing : {1, 3, 4, 5}

In [47]:
# 40. Write a Python program to remove an item from a set if it is present in the set.

n = set([0, 1, 2, 3, 4, 5])
print("Original set elements:",n)
n.discard(4)
print("After removing :",n)

Original set elements: {0, 1, 2, 3, 4, 5}
After removing : {0, 1, 2, 3, 5}

In [43]:
# 41. Write a Python program to create an intersection of sets.

x = set(["green", "blue"])
y = set(["blue", "yellow"])
i = x.intersection(y)
print('intersection: ',i)

intersection:  {'blue'}

In [46]:
# 42. Write a Python program to create a symmetric difference

x = set(["green", "blue"])
y = set(["blue", "yellow"])
r1 = x.symmetric_difference(y)
print("x - y:",r1)
r2 = y.symmetric_difference(x)
print("y - x:",r2)

x - y: {'green', 'yellow'}
y - x: {'green', 'yellow'}

In [53]:
# 43. Write a Python program to find maximum and the minimum value in a set.

s = {5, 10, 3, 15, 2, 20}
print('max :',max(s))
print('min :',min(s))

max : 20
min : 2

In [56]:
# 44. Write a Python program to find the length of a set.

s= {1,2,3,44,56}
print(len(s))

5

In [64]:
# 45. Write a Python program to construct the following pattern, using a nested for loop. 
#  * 
#  * * 
#  * * * 
#  * * * * 
#  * * * * * 
#  * * * * 
#  * * * 
#  * * 
#  *

n = 5
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("")

for i in range(n, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [69]:
# 46. Write a Python program to count the number of even and odd numbers from a series of numbers. 
#  * Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
#  * Expected Output : Number of even numbers : 5
#                      Number of odd numbers : 4

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
odd = 0
even = 0
for i in numbers:
        if not i % 2 == 0:
            even += 1
        else:
            odd += 1
print("Number of even numbers :",even)
print("Number of odd numbers :",odd)

Number of even numbers : 5
Number of odd numbers : 4

In [1]:
# 47. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
#  * Note : Use 'continue' statement. 
#  * Expected Output : 0 1 2 4 5

for x in range(6):
    if (x == 3 or x == 6):
        continue
    print(x,end=' ')

0 1 2 4 5

In [5]:
# 48. Write a Python program to get the Fibonacci series between 0 to 50. 
#     Note : The Fibonacci Sequence is the series of numbers : 0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
#  * Every next number is found by adding up the two numbers before it.
#  * Expected Output : 1 1 2 3 5 8 13 21 34

n1 = 0
n2 = 1
print(n1)
print(n2)
for i in range (1,9):
    fs = n1+n2
    print(fs)
    n1=n2
    n2=fs

0
1
1
2
3
5
8
13
21
34

In [23]:
# 49. Write a Python program which takes two digits m (row) and n (column) as input and 
# generates a two-dimensional array. The element value in the i-th row and j-th column of the 
# array should be i*j. 
# Note :
#  * i = 0,1.., m-1 
#  * j = 0,1, n-1.
#  * Test Data : Rows = 3, Columns = 4 
#  * Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

m=int(input("enter rows : "))
n=int(input("enter columns : "))
b = []
for i in range(m):
    a = []
    for j in range(n):
        a.append(i*j)
    b.append(a)

print(b)

enter rows : 3
enter columns : 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [28]:
# 50. Write a Python program to find numbers between 100 and 400 (both included) where 
# each digit of a number is an even number. The numbers obtained should be printed in a 
# comma-separated sequence

a = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        a.append(s)
print( ",".join(a))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [20]:
# 51. Write a Python program to print alphabet pattern 'A'.

p = ""
for row in range(0,6):    
    for column in range(0,6):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            p = p+"*"    
        else:      
            p = p + ' '
    p = p + '\n'
print(p)

  ***
 *   *
 *   *
 *****
 *   *
 *   *

In [9]:
# 52. Write a Python program to print alphabet pattern 'P'

str=""
for Row in range(0,6):
    for Col in range(0,6):
        if (Col == 1 or ((Row == 0 or Row == 3) and Col > 0 and Col < 5) or ((Col == 5 or Col == 1) and (Row == 1 or Row == 2))):
            str=str+"*"
        else:
            str=str+" "
    str=str+"\n"
print(str)

 ****
 *   *
 *   *
 ****
 *
 *

In [10]:
#53. Write a Python program to check a triangle is valid or not.

def triangle(a,b,c):
    if a+b>=c and b+c>=a and c+a>=b:
        return 'Triangle is valid'
    else:
        return 'Triangle is not valid'

triangle(5,3,6)

'Triangle is valid'

In [11]:
#54. Write a Python program to create the multiplication table (from 1 to 10) of a number.

n = int(input("Input a number: "))

for i in range(1,11):
    print(n,'x',i,'=',n*i)

Input a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [2]:
# 55. Write a Python program to construct the following pattern, using a nested loop number.
#  1
#  22
#  333
#  4444
#  55555
#  666666
#  7777777
#  88888888
#  999999999

n = 10
for i in range(1,n):
    for j in range(0,i,1):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [5]:
# 56. Write a Python function to find the Max of three numbers.

def fun(a, b, c):
    list = [a, b, c]
    return max(list)

print(fun(10,b=1,c=8))

10

In [6]:
# 57. Write a Python function to sum all the numbers in a list

l=[1,2,33,65,73,1,57]
sum(l)

# def sum(n):
#     total = 0
#     for i in n:
#         total += i
#     return total
# print(sum((8, 2, 3, 0, 7)))

232

In [8]:
# 58. Write a Python function to multiply all the numbers in a list

def mul(numbers):
    total = 1
    for x in numbers:
        total = total * x
    return total
print(mul((8,2,3,7)))

336

In [9]:
# 59. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

def count(s):
    d={"upper":0, "lower":0}
    for i in s:
        if i.isupper():
            d["upper"]+=1
        elif i.islower():
            d["lower"]+=1
        else:
            pass
    print (s)
    print ("Upper case characters : ", d["upper"])
    print ("Lower case Characters : ", d["lower"])

count('The quick Brown Fox')

The quick Brown Fox
Upper case characters :  3
Lower case Characters :  13

In [10]:
# 60. Write a Python function that takes a list and returns a new list with unique elements of the first list

def list(l):
    x = []
    for i in l:
        if i not in x:
            x.append(i)
    return x

print(list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [11]:
# 61. Write a Python program to print the even numbers from a given list

l = [1,2,3,4,5,6,7,8,9,10]
evenlis = []
for i in l:
    if i%2 == 0:
        evenlis.append(i)
print(evenlis)

[2, 4, 6, 8, 10]

In [12]:
# 62. Write a Python function that checks whether a passed string is palindrome or not

def palindrome(s):
    rs = s[::-1]
    if s == rs: 
        return s ,'String is palindrome'
    return s ,'String is not a palindrome'
palindrome('121')

('121', 'String is palindrome')

In [3]:
# 63. Write a Python program to access a function inside a function.

def fun(x):
      def fun1(y):
        return x+y
      return fun1
a = fun(5)
a(10)

15

In [ ]:
# 64. Write a Python program to detect the number of local variables declared in a function.